%footer
  .container
    %p 
      Handmade by:
      %br/ 
      %a{:href => "http://hybridgroup.com", :class => "thg-logo", :target => "blank"} 
        %span The Hybrid Group 
      %br/ 
      %small
        COPYRIGHT © 2013 - 2015
