- wrap_layout :layout do
  %section.hero
    .container
      %p
        Get easy access to Notifications, Events & Accelerometer
        with very few lines of code.

        :markdown
                my.pebble.on('button', function(data) {
                  console.log("Button pushed: " + data);
                  });
                })

      .actions
        %a.action{href: "https://github.com/hybridgroup/watchbot"} Download the Code on GitHub
        %a.action{href: "https://apps.getpebble.com/applications/52b11885b0661fb292000004"} Get it on the Pebble App Store

  %section.how-it-works
    .container
      %h1.title How does it work?
      = image_tag "infographic.png"

