- wrap_layout :layout do
  %section.hero
    .container
      %p
        Get easy access to Notifications, Events & Accelometer
        with very few lines of code.

        :markdown
                my.pebble.on('button', function(data) {
                  console.log("Button pushed: " + data);
                  });
                })

      .actions
        %a.action{href: "https://github.com/hybridgroup/watchbot"} Download the Code on GitHub

